<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.0.0-beta.2/css/bootstrap.min.css}" />
        <script th:href="@{/webjars/jquery/3.4.0/jquery.min.js} "></script>
        <title>Editing story</title>
    </head>
    <body>
        <div class="container">
            <div align="center">

                <h2>Edit Story</h2>

                <form action="#" th:action="@{/save}" th:object="${story}" method="post">
                    <table class="table table-striped  table-hover  thead-dark">

                        <tr>				
                            <td>Unique Id:</td>
                            <td><input type="text" th:field="*{id}" readonly="readonly" /></td>
                        </tr>			
                        <tr>				
                            <td>Story description:</td>
                            <td><input type="text" th:field="*{task}" /></td>
                        </tr>
                        <tr>
                            <td>Stage:</td>
                            <td>
                                <select th:field="*{phase}">
                                    <option th:value="FORECAST" th:text="Forecast"></option>
                                    <option th:value="TODO" th:text="To-do"></option>
                                    <option th:value="INPROGRESS" th:text="In-Progress"></option>
                                    <option th:value="DONE" th:text="Done"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Priority:</td>
                            <td>
                                <select th:field="*{priority}">
                                    <option th:value="LOW" th:text="Low"></option>
                                    <option th:value="MEDIUM" th:text="Medium"></option>
                                    <option th:value="HIGH" th:text="High"></option>
                                    <option th:value="TOP" th:text="Top"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Point:</td>
                            <td>
                                <select th:field="*{point}">
                                    <option th:value="1.0" th:text="XS"></option>
                                    <option th:value="2.0" th:text="S"></option>
                                    <option th:value="3.0" th:text="M"></option>
                                    <option th:value="5.0" th:text="L"></option>
                                    <option th:value="13.0" th:text="XL"></option>
                                    <option th:value="21.0" th:text="XXL"></option>
                                </select>
                            </td>
                        </tr>								
                        <tr>
                            <td></td><td><th:center><button type="submit">Save to Database</button></th:center></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </body>
</html>