<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
<script th:href="@{/webjars/jquery/3.4.0/jquery.min.js} "></script>
<title>Database error!</title>
</head>
    <body>
        <th:center>
        <form action="index">
              <button type="submit" class="btn btn-danger btn-lg">
                  <span class="spinner-grow spinner-grow-sm">
                  </span>Database error while failing to save record!</button>
        </form>
        </th:center>
    </body>
</html>
