<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
        <script th:href="@{/webjars/jquery/3.4.0/jquery.min.js} "></script>
        <script th:src="@{https://code.jquery.com/jquery-latest.min.js}"></script>
      
        <script>
            function sortTableByDescription() {
                var rows, firstElementToCompare, secondElementToCompare;
                rows = document.getElementById("storyTable").rows;
                for (var i = 1; i < rows.length - 1; i++) {
                    for (var j = i + 1; j < rows.length; j++) {

                        firstElementToCompare = rows[i].getElementsByTagName("td")[1];
                        secondElementToCompare = rows[j].getElementsByTagName("td")[1];

                        if (firstElementToCompare.innerHTML.toLowerCase() > secondElementToCompare.innerHTML.toLowerCase()) {
                            rows[i].parentNode.insertBefore(rows[j], rows[i]);
                        }
                    }
                }
            }
        </script>
        <script>
            $(document).ready(function () {
                $("table tbody tr").on("click", function () {
                    $(this).insertBefore("tbody tr:nth-child(1)");
                         $(this).css("background-color", "red");
                });
            });
        </script>
        <script>
            $(document).ready(function () {
                $("th").on("click", function () {
                    sortTableByDescription();
                });
            });
        </script>

        <style>
            .show {
                background-color:yellow;   
            }

            #search { position:fixed; top:10px; right:10px; }
        </style>
        <title>Story manager</title>
    </head>
    <body>

              <div align="center">

            <h2>Sprint backlog</h2>

            <form action="new">
                <button type="submit" class="btn btn-warning">Add New Story</button>
            </form>
            <br/><br/>

            <div class="container">

                <table class="table table-striped table-hover" id="storyTable">

                    <thead>
                        <tr>
                            <th>Unique Id</th>
                            <th>Story description</th>
                            <th>FORECAST</th>
                            <th>TO-DO</th>
                            <th>IN-PROGRESS</th>
                            <th>DONE</th>
                            <th>Priority</th>
                            <th>Point</th>
                            <th>Record</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="story : ${storyList}">
                            <td th:text="${story.id}">Unique Id</td>
                            <td th:text="${story.task}">Story description</td>

                            <td>
                                <span th:if="${story.phase.name() == 'FORECAST'}"><button type="" class="btn btn-outline-info btn-sm"> FORECAST </button></span>
                            </td>  
                            <td>
                                <span th:if="${story.phase.name() == 'TODO'}"><button type="" class="btn btn-outline-danger btn-sm"> TODO </button></span>
                            </td>  

                            <td>  
                                <span th:if="${story.phase.name() == 'INPROGRESS'}"><button type="" class="btn btn-outline-warning btn-sm"> IN-PROGRESS </button></span>
                            </td>
                            <td>
                                <span th:if="${story.phase.name() == 'DONE'}"><button type="" class="btn btn-outline-success btn-sm"> DONE </button></span>
                            </td>
                            <td th:text="${story.priority}">Priority</td>
                            <td th:text="${story.point}">Points</td>
                            <td>
                                <form th:action="@{'/edit/' + ${story.id}}">
                                    <button type="submit" class="btn btn-success btn-sm"> Edit </button>
                                </form>
                            </td>
                            <td>
                                <form th:action="@{'/delete/' + ${story.id}}">
                                    <button type="submit" class="btn btn-danger btn-sm">Delete </button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> 
        </div>   
</html>