<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
        <script th:href="@{/webjars/jquery/3.4.0/jquery.min.js} "></script>
        <title>Add New Story</title>
        <style>
            .vertical-center {
                margin: 0;
                position: absolute;
                top: 50%;
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);}
            .center-me {
                margin: 0 auto;
            }
        </style>
    </head>
    <body>
        <div class="center-me">
            <div class="vertical-center">
                <div class="container">
                    <h1>Add New Story</h1>

                    <form action="#" th:action="@{/save}" th:object="${story}" method="post">

                        <table class="table table-striped">
                            <tr>
                                <td>Task description:</td>
                                <td><input type="text" th:field="*{task}" /></td>
                            </tr>
                            <tr>
                                <td>Current stage:</td>
                                <td>
                                    <select th:field="*{phase}">
                                        <option th:value="FORECAST" th:text="Forecast"></option>
                                        <option th:value="TODO" th:text="To-do"></option>
                                        <option th:value="INPROGRESS" th:text="In-Prpgress"></option>
                                        <option th:value="DONE" th:text="Done"></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Priority:</td>
                                <td>
                                    <select th:field="*{priority}">
                                        <option th:value="LOW" th:text="Low"></option>
                                        <option th:value="MEDIUM" th:text="Medium"></option>
                                        <option th:value="HIGH" th:text="High"></option>
                                        <option th:value="TOP" th:text="Top"></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Points:</td>
                                <td>
                                    <select th:field="*{point}">
                                        <option th:value="1.0" th:text="XS"></option>
                                        <option th:value="2.0" th:text="S"></option>
                                        <option th:value="3.0" th:text="M"></option>
                                        <option th:value="5.0" th:text="L"></option>
                                        <option th:value="13.0" th:text="XL"></option>
                                        <option th:value="21.0" th:text="XXL"></option>
                                    </select>
                                </td>
                            </tr>								
                            <tr>
                                <td><th:center> <button type="submit" class="btn btn-warning">Add New Story</button>  </th:center> </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>